@import "tailwindcss";

:root {
  --background: hsl(0 0% 4%);
  --foreground: hsl(0 0% 98%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: monospace;
}

* {
  font-family: monospace;
}

