@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: #000000;
  color: #ffffff;
  font-family: monospace;
}

* {
  font-family: monospace;
}
